<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>网络隐私的田野 | 做點“反1984”的小事</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/github-dark.css">
    <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    -->
    <script src="{{ site.baseurl }}/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
		<li class="fork"><a href="{{ site.baseurl }}/toc/">文章目錄</a></li>
          <li class="downloads"><a href="https://github.com/mdrights/Digital-rights">參與翻譯</a></li>
                <!--<li class="title">DOWNLOADS</li>-->
        </nav>
      </div><!-- end header -->

	{{ content }}

  </body>
  <footer>
	<hr>
	<p>[评论在这里]：<a href="https://github.com/mdrights/os-observe/issues/new">发一个issue</a></p>
	<p>[CONTACT]: mdrights at Matrix/IRC ( #DigitalRightsCN at freenode )</p>
	<p>TG群组：<a href="https://t.me/liveslackware">Slackware & Tor & i2p</a></p>
	<p>[GPG key] <a href="https://mdrights.github.io/mdrights.pgp.asc">PGP 公钥</a>31CA 3888 3C0B 17AF 7A91  F44B A809 C5B0 9BB2 4488 </p>
  </footer>
</html>
