<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>开源社区的田野 | 经验和笔记</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    -->
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/mdrights/my-notes">我收藏的笔记</a></li>
          <li class="downloads"><a href="https://github.com/mdrights/my-notes/zipball/master">打包下载</a></li>
                <!--<li class="title">DOWNLOADS</li>-->
        </nav>
      </div><!-- end header -->

	{{ content }}

  </body>
  <footer>
	<hr>
	<p>[CONTACT]:Mdrights@Telegram</p>
	<p>TG频道：https://telegram.me/kaiyuancn | Weibo: @开源社区观察</p>
	<p>[GPG] AC8F 67E6 B0F4 05FA F369  B055 46B0 E2D3 72A0 DBE7</p>
  </footer>
</html>
